@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

/********************PADRONIZAÇÃO********************/

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-quaternaria: #1F1F1F;
    --cor-hover: #F6F6F6;


    --fonte-primaria: 'Montserrat', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

/********************GERAL********************/
* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

/********************MENU********************/
.navbar {
    background: #000000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 3%;
}

.logo a {
    color: var(--cor-secundaria);
    text-decoration: none;
    font-size: 2rem;
    font-family: var(--fonte-secundaria);
    font-weight: 800;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links a {
    color: var(--cor-terciaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--cor-hover);
}

.menu-icon {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: var(--cor-secundaria);
}

.cabecalho__menu {
    display: flex;
    gap: 35px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

#btn-subir {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--cor-quaternaria);
    color: var(--cor-terciaria);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

#btn-subir:hover {
    opacity: 0.8;
}

/********************INICIO********************/
.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.apresentacao__conteudo__titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-style: italic;
    text-align: justify;
}

.botao-curriculo {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    text-decoration: none;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botao-curriculo:hover {
    background-color: var(--cor-hover);
    transform: scale(1.1);
}

.apresentacao__imagem {
    width: 50%;
    border-radius: 100%;
}

/*****************SEÇÕES********************/
.secao {
    padding: 3% 8%;
    text-align: center;
}

.secao__titulo {
    font-family: var(--fonte-primaria);
    font-size: 2.5rem;
    color: var(--cor-secundaria);
    margin-bottom: 50px;
}

.secao__texto {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    color: var(--cor-secundaria);
    text-align: justify;
    line-height: 1.5;
}

/*****************SEÇÃO HABILIDADES********************/
#habilidades {
    padding: 60px 20px;
    text-align: center;
    font-family: var(--fonte-primaria);
}

.container-habilidades {
    margin-top: 40px;
}

.subtitulo {
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    color: var(--cor-terciaria);
    margin-bottom: 20px;
}

.hard-skills,
.soft-skills {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.grafico-habilidade {
    width: 150px;
    text-align: center;
}

.circulo-externo {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(var(--cor-terciaria) 0%, var(--cor-quaternaria) 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: background 1s ease;
}

.circulo-interno {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--cor-primaria);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icone-habilidade {
    font-size: 2rem;
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}

.porcentagem {
    font-family: var(--fonte-primaria);
    font-size: 1.2rem;
    color: var(--cor-secundaria);
}

.grafico-habilidade p {
    margin-top: 10px;
    font-size: 1rem;
    color: var(--cor-secundaria);
}

/* Estilização das Soft Skills */
.item-soft-skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 120px;
}

.icone-soft-skill {
    font-size: 2.5rem;
    color: var(--cor-terciaria);
    transition: transform 0.3s ease;
}

.icone-soft-skill:hover {
    transform: scale(1.2);
}

.item-soft-skill p {
    font-size: 1rem;
    color: var(--cor-secundaria);
}



/*****************SEÇÃO PROJETOS********************/
.navegacao-projetos {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 20px;
}

.seta-anterior,
.seta-proximo {
    background: var(--cor-quaternaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.seta-anterior .seta-proximo {
    margin-right: 5px;
}

.seta-proximo {
    margin-left: 5px;
}

.seta-anterior:hover,
.seta-proximo:hover {
    transform: scale(1.1);
}

.grade-projetos {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 20px;
    width: 100%;
    padding: 0 20px;
    font-family: var(--fonte-secundaria);
}

.cartao-projeto {
    flex: 0 0 calc(33.33% - 20px);
    background: var(--cor-quaternaria);
    color: var(--cor-secundaria);
    padding: 30px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagem-projeto {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.titulo-projeto {
    text-align: center;
    font-size: 20px;
}

.texto-projeto {
    text-align: justify;
    margin-bottom: 50px;
}

.botao-projeto {
    padding: 10px 20px;
    background: var(--cor-terciaria);
    color: var(--cor-primaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: transform 0.3s ease;
}

.botao-projeto:hover {
    transform: scale(1.1);
}

/*****************SEÇÃO FORMAÇÕES********************/
#formacoes {
    text-align: center;
    font-family: var(--fonte-primaria);
}

.menu-filtros {
    display: none;
    background-color: var(--cor-terciaria);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
}

.menu-filtros i {
    margin-right: 5px;
}

.filtros-categorias {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.filtro {
    padding: 10px 20px;
    background: var(--cor-quaternaria);
    color: var(--cor-secundaria);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
    font-size: 15px;
}

.filtro.active {
    background: var(--cor-terciaria);
    color: #000000;
}

.container-cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card-curso {
    width: 250px;
    background: var(--cor-quaternaria);
    color: var(--cor-secundaria);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-curso:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

.icone-curso {
    font-size: 2.5rem;
    color: var(--cor-terciaria);
    margin-bottom: 10px;
}

.card-curso h3 {
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    margin-bottom: 15px;
}

.card-curso p {
    font-size: 1rem;
    color: var(--cor-secundaria);
}

.menu-filtros i {
    margin-right: 5px;
}

/*****************SEÇÃO EXPERIÊNCIAS********************/
.timeline {
    position: relative;
    font-family: var(--fonte-primaria);
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: var(--cor-terciaria);
    left: 50%;
    transform: translateX(-50%);
}

.timeline-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    position: relative;
}

.timeline-marker {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background-color: var(--cor-terciaria);
    border-radius: 50%;
    border: 3px var(--cor-terciaria);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.timeline-item:nth-child(odd) .timeline-content {
    margin-left: 80px;
    text-align: left;
}

.timeline-item:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline-item:nth-child(even) .timeline-content {
    margin-right: 80px;
    text-align: right;
}

.timeline-content {
    max-width: 45%;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--cor-quaternaria);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.timeline-content h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    color: var(--cor-secundaria);
    text-align: center;
}

.timeline-content .date {
    font-size: 0.9rem;
    color: var(--cor-secundaria);
    margin-bottom: 10px;
}

.timeline-content p {
    font-size: 1rem;
    color: var(--cor-secundaria);
    text-align: justify;
    line-height: 1.5;
}

/*****************SEÇÃO MINHAS REDES********************/
#redes-sociais {
    text-align: center;
}

.icones-redes {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.icone-rede {
    font-size: 3.5rem;
    color: var(--cor-secundaria);
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.icone-rede:hover {
    transform: scale(1.2);
    color: var(--cor-terciaria);
}

/*****************RODAPÉ********************/
.rodape {
    color: var(--cor-terciaria);
    background-color: var(--cor-quaternaria);
    padding: 5px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}

/*****************RESPONSIVIDADE********************/
@media (max-width: 500px) {
    .apresentacao__imagem {
        width: 80%;
    }

    .botao-curriculo {
        font-size: 1.2rem;
    }

    .secao__titulo {
        font-size: 2rem;
    }

    .secao__texto {
        font-size: 1rem;
    }

    .cartao-projeto {
        flex: 0 0 80%;
    }

    .icone-rede {
        font-size: 2rem;
        color: var(--cor-secundaria);
        transition: transform 0.3s ease, color 0.3s ease;
        text-decoration: none;
    }
}

@media (max-width: 768px) {
    .filtros-categorias {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .filtros-categorias.active {
        display: flex;
    }

    .menu-filtros {
        display: block;
    }

    .cartao-projeto {
        flex: 0 0 60%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--cor-primaria);
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-icon {
        display: block;
    }

    #btn-subir {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: var(--cor-terciaria);
        color: var(--cor-primaria);
        border: none;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        font-size: 24px;
        cursor: pointer;
        display: none;
        transition: opacity 0.3s ease-in-out;
    }

    #btn-subir:hover {
        opacity: 0.8;
    }

    .timeline::before {
        left: 20px;
    }

    .timeline-item {
        flex-direction: column;
    }

    .timeline-marker {
        left: 20px;
        transform: none;
    }

    .timeline-item:nth-child(odd) .timeline-content,
    .timeline-item:nth-child(even) .timeline-content {
        margin: 20px 0 0 40px;
        max-width: 100%;
        text-align: left;
    }
}

@media (max-width: 1100px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: var(--cor-primaria);
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }

    .nav-links.active {
        display: flex;
    }
    
    .menu-icon {
        display: block;
    }
}




@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentacao {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}